:root {
    /* 변수를 쓰는 방법 */
    --mc: #09847F;
    --sc: #B4613D;
    --lc: #dddddd;
    --wc: #ffffff;
    --dc: #000000;
    --gc: #f9f9f9;
}

.inner {
    max-width: 1440rem;
    padding: 0 15rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 20rem;
    padding: 20rem 30rem;
    border-radius: 30rem;
    overflow: hidden;
}

.btn2 {
    display: inline-block;
    font-size: 18rem;
    padding: 10rem 20rem;
    border-radius: 19rem;
    background: var(--dc);
    color: var(--wc);
}

.btn3 {
    display: inline-block;
    font-size: 14rem;
    padding: 5rem 10rem 4rem 10rem;
    border-radius: 10rem;
    border: 2px solid var(--mc);
    color: var(--mc);
}

.btn.wc {
    color: var(--wc);
    border: 3px solid var(--wc);
}

.btn.wc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
    background: var(--mc);
    transition: .5s;
}

.btn.wc:hover::before {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn.mc {
    color: var(--mc);
    border: 3px solid var(--mc);
}

.btn::after {
    content: '\F1BE';
    font-family: bootstrap-icons;
    vertical-align: middle;
    margin: 0 0 0 15rem;
}

.list_dot>* {
    position: relative;
    padding: 0 0 0 15rem;
}

.list_dot>*::before {
    content: "";
    position: absolute;
    top: 7rem;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: var(--mc);
}

.section {
    padding: 100rem 0;
}

.section.gc {
    background: var(--gc);
}


/* 
────────── 세팅△
▽스타일 ──────────
*/



.wrap {}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 999;
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120rem;
    transition: height .5s;
}

.header.on {
    background: var(--wc);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.header.on .header_wrap {
    height: 80rem;
}

.header h1 {
    font-size: 0;
}

.header h1 img {
    height: 39rem;
}

.header.on h1 img:last-child {
    filter: invert();
}

.gnb {}

.gnb .main_menu {
    display: flex;
}

.gnb .main_menu>li {
    position: relative;
    padding: 0 30rem;
}

.header .gnb .main_menu a {
    display: block;
    color: var(--wc);
    font-size: 18rem;
    line-height: 120rem;
}

.header.on .gnb .main_menu a {
    color: var(--dc);
}

.gnb .sub_menu {
    position: absolute;
    top: 130rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);

    width: 180rem;
    text-align: center;
    padding: 15rem 0;
    border-radius: 10rem;
    border: 2px solid var(--lc);

    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.gnb .main_menu>li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
    top: 100rem;
}

.header.on .gnb .main_menu>li:hover .sub_menu {
    top: 90rem;
}

.gnb .sub_menu li~li {
    border-top: 1px solid var(--lc);
}

.header .gnb .sub_menu a {
    display: block;
    color: var(--dc);
    font-size: 15rem;
    line-height: 40rem;
}




.login_area .member {
    display: flex;
    gap: 30rem;
}

.header .login_area .member li {
    position: relative;
}

.login_area .member li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15rem;
    transform: translate(0, -50%);
    width: 2px;
    height: 2px;
    background: var(--lc);
}

.header .login_area .member a {
    color: var(--wc);
    font-size: 15rem;
}

.header.on .login_area .member a {
    color: var(--dc);
}

.header.on .login_area .member li~li::before {
    background: var(--dc);
}







/* 메인비주얼 */
.main_visual {
    position: relative;
    height: 100vh;
}

.main_slide {
    border-radius: 0 0 180rem 0;
    overflow: hidden;
}

.main_slide .itm {
    position: relative;
    overflow: hidden;
    height: 100vh;
    transition: 2s;
}

.main_slide .itm .slide-image {
    position: absolute;
    inset: 0 0 0 0;
}


.main_slide .itm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
}

.main_slide .itm .img_box {
    margin: 0 0 50rem 0;
}

.main_slide .itm p {
    color: var(--wc);
    margin: 0 0 50rem 0;
    font-size: 17rem;
    line-height: 26rem;
    font-weight: 300;
    transform: translate(-100rem, 0);
    transition: .5s 1.5s;
    opacity: 0;
}

.main_slide .itm.on p {
    transform: translate(0, 0);
    opacity: 1;
}

.main_slide .itm .btn {
    transform: translate(100rem, 0);
    transition: .5s 2s;
    opacity: 0;
}

.main_slide .itm.on .btn {
    transform: translate(0, 0);
    opacity: 1;
}

/* .swiper-wrapper {
    transition-timing-function: linear();
} */

.main_visual .itm01 .slide-image {
    height: 100vh;
    background: url(../images/img_visual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 .slide-image {
    height: 100vh;
    background: url(../images/img_visual02.jpg) no-repeat center center/cover;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    max-width: 1600rem;
    width: 100%;
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.main_visual .arrows .left {
    left: 15rem;
}

.main_visual .arrows .right {
    right: 15rem;
}

.main_visual .arrows i::before {
    font-size: 40rem;
    color: var(--wc);
    padding: 30rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}


.main_visual .case {
    position: absolute;
    bottom: -100rem;
    right: 300rem;
    z-index: 998;

    width: 200rem;
    height: 200rem;
}

.main_visual .btn_cicle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200rem;
    height: 200rem;
    background: var(--mc);
    color: var(--wc);
    font-size: 20rem;
    border-radius: 50%;
    text-align: center;
    line-height: 26rem;

}

.main_visual .btn_cicle::before {
    content: '';
    display: block;
    width: 26rem;
    height: 30rem;
    background: url(../images/icon_apply.svg) no-repeat center center/cover;
    margin: 0 0 10rem 0;
}

.main_visual .case:hover .btn_cicle {
    animation: heartBeat 1.5s infinite;
}





.main_content {}

.main_content .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.main_content .content>* {
    padding: 80rem 60rem;
}

.main_content .content .left {
    position: relative;
    border-radius: 50rem;
    background: var(--gc);

    transform: translate(0, 100rem);
    opacity: 0;
    transition: .5s;
}

.main_content.on .content .left {
    transform: translate(0, 0);
    opacity: 1;
}

.main_content .content .left::after {
    content: '';
    position: absolute;
    bottom: -20rem;
    right: 0;
    width: 300rem;
    height: 125rem;
    background: url(../images/img_logo2.svg) no-repeat center center/cover;
    filter: invert();
}

.main_content .content h3 {
    font-size: 24rem;
    font-weight: 700;
    margin: 0 0 17rem 0;
}

.main_content .content .left p {
    font-size: 15rem;
    line-height: 20rem;
    font-weight: 300;
    margin: 0 0 57rem 0;
}

.main_content .content .right {
    transform: translate(0, 100rem);
    opacity: 0;
    transition: .5s .2s;
}

.main_content.on .content .right {
    transform: translate(0, 0);
    opacity: 1;
}

.main_content .content .right .desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30rem 0;
    padding: 0 0 15rem 0;
    border-bottom: 1px dashed var(--lc);
}

.main_content .content .right .desc i {
    background: var(--gc);
    padding: 15rem 16rem;
    border-radius: 50%;
    font-size: 30rem;
}

.main_content .content .right .desc .tel {
    font-size: 40rem;
    font-weight: 700;
}

.main_content .content .list>* {
    display: grid;
    grid-template-columns: 100rem 1fr;
    margin: 0 0 20rem 0;
    line-height: 1.6;
}

.main_content .content .list .ls2 {
    letter-spacing: 30rem;
}



.main_content .content .list>*::before {
    content: "";
    top: 10rem;
}




/* 03 main_notice */
.main_notice {
    padding: 0 0 100rem 0;
}

.main_notice .content {
    transform: translate(0, 100rem);
    opacity: 0;
    transition: .5s;
}

.main_notice.on .content {
    transform: translate(0, 0);
    opacity: 1;
}

.main_notice h2 {
    font-size: 50rem;
    font-weight: 700;
    margin: 0 0 27rem 0;
}

.main_notice p {
    font-size: 15rem;
    line-height: 20rem;
    font-weight: 300;
    margin: 0 0 57rem 0;
}

.main_notice .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main_notice .arrows i {
    padding: 14rem 16rem;
    font-size: 25rem;
    background: var(--mc);
    color: var(--wc);
    border-radius: 50%;
    margin: 0 10rem 0 0;
    cursor: pointer;
}


.main_notice img {
    width: 100%;
    height: 250rem;
    object-fit: cover;
}

.main_notice .right {
    overflow: hidden;
}

.main_notice .card {
    padding: 20rem;
    background: var(--gc);
    border-radius: 10rem;
}

.main_notice .card .img_box {
    border-radius: 5rem;
    overflow: hidden;
    margin: 0 0 15rem 0;
}

.main_notice .card strong {
    display: block;
    margin: 10rem 0;
    font-size: 20px;
}





.footer {
    height: 100vh;
}